@import url('https://highlightjs.org/static/demo/styles/androidstudio.css');

.modalBackground {
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    background:rgba(0, 0, 0, .5);
    .modal {
        position:fixed;
        right:50%;
        bottom:50%;
        transform:translate(50%, 50%);
    
        background:#111;
        color:white;

        box-shadow:3px 3px 5px rgba(0, 0, 0, .25);
        
        border:solid 1px #1E1E1E;

        width:80vw;
        height:80vh;
        display:flex;
        flex-direction:column;

        .modalHeader {
            
            padding:10px;
            border-bottom:solid 2px red;
            display:flex;

            .endpointMethod {
                color: #111;
                background: #fff;
                display: inline-block;
                font-weight: 700;
                font-size: 13px;
                margin-right: 5px;
                padding: 5px 10px;
                border-bottom: solid 1px red;
            }
            .endpointSecure {

            }
            .endpointPath {
                color:gray;
                flex:1;
                padding:5px;
            }

            .modalClose {
                padding:5px;
                color:gray;
                &:hover {
                    cursor:pointer;
                    color:white;
                }
            }
        }
        .modalContent {
            padding:10px;
            display:flex;
            background:black;
            flex:1;

            .endpointParams {
                flex:1;
                margin-right:2.5px;

                .paramName {
                    display:inline-block;
                    padding:5px 10px;
                    &__active {
                        background:#2C2F31;
                    }
                    &:hover {
                        cursor:pointer;
                        background:#2C2F31;
                    }
                }

                .content {
                    border-top:solid 1px red;
                    background: #2C2F31;
                    display:none;

                    &__active {
                        display:block;
                    }
                    
                    table {
                        width:100%;
                        tr {
                            td {
                                padding:10px;

                                &.type {
                                    text-align:right;
                                }
                                &.name {
                                    text-align:center;
                                }
                                &.required {
                                    &::after {
                                        content:'*';
                                        color:red;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .endpointResponses {
                flex:1;
                margin-left:2.5px;
                .responseCode {
                    display:inline-block;
                    padding:5px 10px;
                    &__active {
                        background:#2C2F31;
                    }
                    &:hover {
                        cursor:pointer;
                        background:#2C2F31;
                    }
                }
                .responseBody {
                    border-top:solid 1px red;
                    background: #181818;
                    pre { margin: 0; }
                    display:none;

                    &__active {
                        display:block;
                    }
                }
            }
        }
    }
}